VITE_FIREBASE_API_KEY=AIzaSyDdlHg4C_TJH8OFXlknOnjhsJCLfEkC7YY
VITE_FIREBASE_AUTH_DOMAIN=modalinhppsystem.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=modalinhppsystem
VITE_FIREBASE_STORAGE_BUCKET=modalinhppsystem.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=266943836457
VITE_FIREBASE_APP_ID=1:266943836457:web:a557ac7be98480b170c738
VITE_FIREBASE_MEASUREMENT_ID=G-BNMG01PW7M
